## p.224 도전문제 (1)

In [1]:
def weeklyPay( hour, rate = 10000 ):
    money = 0
    if (hour > 30):
        money = 30*rate + (hour-30)*rate*1.5
    else:
        money = rate*hour
    return money

hour = int(input("근무 시간을 입력하시오:"))
print("주급은 " + str(weeklyPay(hour)))

근무 시간을 입력하시오:38
주급은 420000.0

## p.224 도전문제 (2)

In [2]:
def weeklyPay( rate, hour ):
    money = 0
    if (hour > 30):
        money = 30*rate + (hour-30)*rate*1.5
    else:
        money = rate*hour
    return money

print("주급은 " + str(weeklyPay(hour=38, rate=10000)))

주급은 420000.0

## p.227 도전문제

In [15]:
def get_info():
    int1 = int(input("정수1:"))
    int2 = int(input("정수2:"))
    if int1 < int2 :
        int_s = int1
        int_b = int2
    elif int1 > int2 :
        int_s = int2
        int_b = int1
    return int_s, int_b

st_int_s, st_int_b = get_info()
print(st_int_s, st_int_b)

정수1:33
정수2:10
10 33

## p.246 Programming 04번

In [21]:
def getGrade(score) :
    if score >= 90 :
        grade = "A"
    elif score >= 80 :
        grade = "B"
    elif score >= 70 :
        grade = "C"
    elif score >= 60 :
        grade = "D"
    else :
        grade = "F"
    return grade

score = int(input("점수를 입력하세요: "))
print("성적은", getGrade(score), "입니다")

점수를 입력하세요: 89
성적은 B 입니다

## p.246 Programming 06번

In [27]:
def get_info():
    int1 = int(input("첫 번째 정수를 입력하시오:"))
    int2 = int(input("두 번째 정수를 입력하시오:"))
 
    return int1, int2

st_int1, st_int2 = get_info()
print("정수 %d+%d의 합은?" % (st_int1, st_int2))
print(st_int1 + st_int2)

첫 번째 정수를 입력하시오:4
두 번째 정수를 입력하시오:5
정수 4+5의 합은?
9

## p.246 Programming 12번

In [32]:
def getSorted(x, y):
    x = int(input("첫 번째 정수:"))
    y = int(input("두 번째 정수:"))
    if x < y :
        int_s = x
        int_b = y
    elif x > y :
        int_s = y
        int_b = x
    return int_s, int_b

st_int_s, st_int_b = get_info()
print(st_int_s, ",", st_int_b)

첫 번째 정수:30
두 번째 정수:20
20 , 30

## p.246 Programming 15번

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")

def draw_square(size):
    for i in range(4):
        t.forward(size)
        t.left(90)
        size = size + 5
        
for i in range(10): 
    draw_square(i*20)

    
turtle.mainloop()
turtle.bye()

## p.282 도전문제

In [1]:
salaries =[200, 250, 300, 280, 500]
after = []

def modify (values, factors) :
    for e in values :
        #e = e*factors
        after.append(e * factors)
       
        
print("인상전", salaries)
modify(salaries, 1.3)
#print("인상후", salaries)
print("인상후", after)

인상전 [200, 250, 300, 280, 500]
인상후 [260.0, 325.0, 390.0, 364.0, 650.0]

## p.285 도전문제

In [16]:
numbers = ["짝수" if i % 2 == 0 else "홀수" for i in range(10)]
print(numbers)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

## p.301 Programming 03번

In [3]:
alist = [20, 1, 12, 9, 18]

for i in alist:
    print(i, "\t", "*" * i)

20 	 ********************
1 	 *
12 	 ************
9 	 *********
18 	 ******************

## p.302 Programming 08번

In [9]:
a = [1, 2, 3, 4, 5]
b = [1, 3, 3, 4, 5, 6, 7]

print("결과=", list(set(a) & set(b)))

결과= [1, 3, 4, 5]

## p.304 Programming 13번

In [16]:
seat = []
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
seat.append([0,0,0,0,0,0,0,0,0,0])
        
def reservation():
    row = int(input("원하시는 좌석의 행번호를 입력하세요(종료는 –1): "))-1
    column = int(input("원하시는 좌석의 열번호를 입력하세요(종료는 –1): "))-1
  
    if seat[row][column]==1:
        print("이미 예약된 자리입니다.")
    else:
        print("예약합니다.")
        seat[row][column]=1
        
def visualization():
    print("-----------------------------")
    print("1  2  3  4  5  6  7  8  9  10")
    print("-----------------------------")
    for i in seat:
        print(i)
        print("")
        
visualization()
reservation() 
visualization()

-----------------------------
1  2  3  4  5  6  7  8  9  10
-----------------------------
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

원하시는 좌석의 행번호를 입력하세요(종료는 –1): 10
원하시는 좌석의 열번호를 입력하세요(종료는 –1): 10
예약합니다.
-----------------------------
1  2  3  4  5  6  7  8  9  10
-----------------------------
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

## p.324 도전문제

In [2]:
s1 = input("첫 번째 문자열: ")
s2 = input("두 번째 문자열: ")

list1 = list( set(s1) & set(s2) )

print("\n공통적인 글자:", end=" ")
for i in list1:
    print(i, end=" ")
    
if 7/10*(len(set(s1)|set(s2)))<=(len(list1)):
    print("표절의심")

첫 번째 문자열: hellow world!
두 번째 문자열: hello world

공통적인 글자: r   o h l e d w 표절의심

## p.334 도전문제

In [ ]:
address_book = {}

def main():
    
    while True :
        user = display_menu();
        if user==1 :
            name, number = get_contact()
            address_book[name]=number
            print(" ")
        elif user==2 :
            name, number = get_contact()
            address_book.pop(name)
            print(" ")
        elif user==3 :
            search()
            print(" ")
        elif user==4 :
            for key in sorted(address_book):
                print(key, "의 전화번호:", address_book[key])
            print(" ")
        else:
            break
            
def get_contact():
    name = input("이름: ")
    number = input("전화번호: ")
    return name, number

def display_menu() :
    print ("1. 연락처 추가")
    print ("2. 연락처 삭제")
    print ("3. 연락처 검색")
    print ("4. 연락처 출력")
    print ("5. 종료")
    select = int(input("메뉴 항목을 선택하시오: "))
    print(" ")
    return select

def search():
    name1 = input("이름: ")
    print(address_book.get(name1, "그런 이름은 없습니다."))
    

main()

1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 종료
메뉴 항목을 선택하시오: 3

이름: 김삼김
그런 이름은 없습니다.

1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 종료

## p.350 도전문제

In [2]:
address=input("이메일 주소를 입력하시오: ")
#(id, domain) = address.split("@")
(before_dot, after_dot) = address.split(".")

print(address)
print(".앞에:"+before_dot)
print(".뒤에:"+after_dot)

이메일 주소를 입력하시오: tksmdch@gmail.com
tksmdch@gmail.com
.앞에:tksmdch@gmail
.뒤에:com

## p.359 Programming 2번

In [4]:
dict={i:i*i for i in range(1, 11)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## p.359 Programming 5번

In [7]:
myDict = {"옷":100, "컴퓨터":2000, "모니터":320}
sum1=sum(myDict.values())
print("총합계=", sum1)

총합계= 2420

## p.360 Programming 9번

In [8]:
s1 = input("첫 번째 문자열: ")
s2 = input("두 번째 문자열: ")

list1 = list( set(s1) & set(s2) )

print("\n모두 포함된 글자:", end=" ")
for i in list1:
    print(i, end=" ")

첫 번째 문자열: Hello World!
두 번째 문자열: Hi! Welcome!!

모두 포함된 글자: o H   ! e W l

## p.362 Programming 14번

In [14]:
monthFirst = input("MM/DD/YYYY:")
yearFirst1= monthFirst.split("/")
yearFirst2=yearFirst1[2::]
yearFirst3=yearFirst1[0:1:]
yearFirst4=yearFirst1[1:2:]
yearFirst5= yearFirst2+yearFirst3+yearFirst4
print(''.join(yearFirst5))

MM/DD/YYYY:00/11/2222
22220011