## 데이터 처리 기초

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
from datetime import datetime
import os
import seaborn as sns
from dateutil.relativedelta import relativedelta
import pymysql

plt.style.use('seaborn')

FONT_NAME = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=FONT_NAME)

### 데이터 전처리

In [25]:
con=pymysql.connect(
   host="127.0.0.1",
   port= 3306,
   user="root",
   password="1234",
   db='lotto',
   charset='utf8mb4')

cursor=con.cursor(pymysql.cursors.DictCursor)

In [26]:
# SQL 쿼리문을 실행하여 데이터 추출

mycursor=con.cursor()
mycursor.execute("SELECT *FROM lotto_win_result")
myresult=mycursor.fetchall()

In [27]:
# 추출된 데이터를 Pandas DataFrame으로 변환

df=pd.DataFrame(myresult, columns=['date','num1','num2','num3','num4','num5','num6','bonus'])

In [28]:
df

           date  num1  num2  num3  num4  num5  num6  bonus
0    2014-06-07     2    16    19    31    34    35     37
1    2014-06-14    13    14    22    27    30    38      2
2    2014-06-21     2    19    25    26    27    43     28
3    2014-06-28     2     6    18    21    33    34     30
4    2014-07-05     1     2     7     9    10    38     42
..          ...   ...   ...   ...   ...   ...   ...    ...
522  2024-06-08    13    19    21    24    34    35     26
523  2024-06-15     3     8    17    30    33    34     28
524  2024-06-22     6    14    25    33    40    44     30
525  2024-06-29     4     5     9    11    37    40      7
526  2024-07-06    10    15    24    30    31    37     32

[527 rows x 8 columns]

In [29]:
# 이진 벡터로 변환
for i in range(1, 7):
    col_name = 'num' + str(i)
    df[col_name] = df[col_name].apply(lambda x: 1 if x > 0 else 0)

In [30]:
df

           date  num1  num2  num3  num4  num5  num6  bonus
0    2014-06-07     1     1     1     1     1     1     37
1    2014-06-14     1     1     1     1     1     1      2
2    2014-06-21     1     1     1     1     1     1     28
3    2014-06-28     1     1     1     1     1     1     30
4    2014-07-05     1     1     1     1     1     1     42
..          ...   ...   ...   ...   ...   ...   ...    ...
522  2024-06-08     1     1     1     1     1     1     26
523  2024-06-15     1     1     1     1     1     1     28
524  2024-06-22     1     1     1     1     1     1     30
525  2024-06-29     1     1     1     1     1     1      7
526  2024-07-06     1     1     1     1     1     1     32

[527 rows x 8 columns]

In [31]:
# 입력변수(X)와 출력변수 (y)로 데이터 분할

X=df.drop(['date','bonus'],axis=1)
y=df['bonus']

### 모델의 학습 및 성능평가

In [32]:
# 학습 데이터셋과 테스트 데이터셋 분할

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
# 랜덤 포레스트 분류 모델 생성

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [34]:
# 학습 데이터로 모델 학습

model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [35]:
# 테스트 데이터로 모델 성능 평가

import numpy as np
y_pred = model.predict(X_test)
accuracy = np.mean(y_pred == y_test)
print(f"Accuracy: {accuracy}")

Accuracy: 0.03773584905660377

### Random Forest

In [36]:
# https://data36.com/random-forest-in-python/   ,  https://www.kaggle.com/datasets/abrambeyer/openintro-possum

In [40]:
df = pd.read_csv("C:/data\실습데이터/2024_2/possum.csv")
df.sample(5, random_state=44)
df1=df.dropna()

In [41]:
# separating the features (x) and the labrels(y)

X = df1.drop(["case", "site", "Pop", "sex"], axis=1)
y = df1["sex"]

### Training RandomForest models

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=44)
from sklearn.ensemble import RandomForestClassifier

In [43]:
rf_model = RandomForestClassifier(n_estimators=50, random_state=44)
rf_model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50, random_state=44)

### Making Predictions with  model

In [44]:
predictions = rf_model.predict(X_test)
predictions

array(['f', 'm', 'm', 'm', 'f', 'f', 'm', 'm', 'm', 'm', 'm', 'f', 'm',
       'm', 'm', 'm', 'm', 'f', 'm', 'm', 'm', 'f', 'f', 'm', 'm', 'm',
       'm', 'm', 'm', 'm', 'f'], dtype=object)

In [45]:
y_test

57     m
80     m
27     m
97     m
61     f
69     f
7      f
26     f
24     m
65     f
71     m
30     m
38     f
76     m
19     f
103    f
44     m
33     m
11     f
72     m
83     m
39     f
5      f
73     f
51     m
94     m
56     f
96     m
89     m
90     m
98     f
Name: sex, dtype: object

In [46]:
rf_model.predict_proba(X_test)

array([[0.5 , 0.5 ],
       [0.26, 0.74],
       [0.36, 0.64],
       [0.3 , 0.7 ],
       [0.66, 0.34],
       [0.54, 0.46],
       [0.48, 0.52],
       [0.42, 0.58],
       [0.18, 0.82],
       [0.34, 0.66],
       [0.48, 0.52],
       [0.54, 0.46],
       [0.4 , 0.6 ],
       [0.28, 0.72],
       [0.48, 0.52],
       [0.36, 0.64],
       [0.4 , 0.6 ],
       [0.54, 0.46],
       [0.44, 0.56],
       [0.06, 0.94],
       [0.32, 0.68],
       [0.56, 0.44],
       [0.66, 0.34],
       [0.46, 0.54],
       [0.18, 0.82],
       [0.46, 0.54],
       [0.34, 0.66],
       [0.26, 0.74],
       [0.2 , 0.8 ],
       [0.1 , 0.9 ],
       [0.5 , 0.5 ]])

In [48]:
# show the order of classes

rf_model.classes_

array(['f', 'm'], dtype=object)

In [49]:

rf_model.feature_importances_

array([0.05237143, 0.1461762 , 0.08878178, 0.11322144, 0.07150935,
       0.16099193, 0.11990223, 0.11082213, 0.05286153, 0.08336197])

In [61]:
importances = rf_model.feature_importances_
columns=X.columns

i=0

while i<len(columns):
    
      print (f" The importance of features '{columns[i]}' is {round(importances[i]*100,2)}%.")  
    
      i=i+1

 The importance of features 'age' is 5.24%.
 The importance of features 'hdlngth' is 14.62%.
 The importance of features 'skullw' is 8.88%.
 The importance of features 'totlngth' is 11.32%.
 The importance of features 'taill' is 7.15%.
 The importance of features 'footlgth' is 16.1%.
 The importance of features 'earconch' is 11.99%.
 The importance of features 'eye' is 11.08%.
 The importance of features 'chest' is 5.29%.
 The importance of features 'belly' is 8.34%.

In [62]:

new_possum =[[ 7.0,83.7,54.9,81,37,70,46,14,25,32]]

rf_model.predict(new_possum)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['m'], dtype=object)