# 14주차 : 머신러닝 알고리즘(Machine-Learning algorithm)

- <a href="#1.추천알고리즘">1. 추천 알고리즘</a>

------------------------------

## <a name="1.추천알고리즘">1. 추천 알고리즘</a>

### 1-1. (영화) 추천 알고리즘

#### 1. 라이브러리 불러오기

In [1]:
import pandas as pd 
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
warnings.filterwarnings('ignore')

#### 2. 데이터 불러오기

In [2]:
# 영화 리뷰 데이터 불러오기
df_reviews = pd.read_csv('./data/reviews.csv')
df_reviews.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
df_reviews.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [4]:
df_reviews['userId'].value_counts()

userId
414    2698
599    2478
474    2108
448    1864
274    1346
       ...
442      20
569      20
320      20
576      20
53       20
Name: count, Length: 610, dtype: int64

In [5]:
# 영화 데이터 불러오기
df_movie_titles = pd.read_csv('./data/movies.csv',index_col=False)
df_movie_titles.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

#### 3. 데이터 합치기 (영화 리뷰 + 영화 목록)

In [ ]:
# 데이터 합치기 (영화 리뷰 + 영화 목록)
df = pd.merge(df_reviews, df_movie_titles, on='movieId')
df.head()

In [ ]:
df.describe()

#### 4. 데이터 그룹핑하기

In [ ]:
# 제목(title)으로 그룹화하여 영화의 평균 평점과 평균 빈도 계산하기
df_ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
df_ratings['number_of_ratings'] = df.groupby('title')['rating'].count()
df_ratings.head()

#### 5. 특징 행렬(희소 행렬)로 변환  
- 추천 알고리즘을 위해 데이터를 특징이 있는 행렬로 변환한다.

In [ ]:
movie_matrix = df.pivot_table(index='userId', columns='title', values='rating')
movie_matrix.head()

#### 6. 아바타 영화(Avata, 2009) 영화에 관심을 보인 모든 사용자 찾기

In [ ]:
Avatar_user_rating = movie_matrix['Avatar (2009)']
Avatar_user_rating = Avatar_user_rating.dropna()
Avatar_user_rating.head()

#### 7. 아바타와 관련한(유사한) 영화 추천하기
- corr메서드 : 각 열 간의 상관 계수를 반환하는 메서드
- corrwith메서드 :  두 DataFrame객체의 동일한 행/열 간의 상관 계수를 반환하는 메서드

In [ ]:
similar_to_Avatar=movie_matrix.corrwith(Avatar_user_rating)
corr_Avatar = pd.DataFrame(similar_to_Avatar, columns=['correlation'])
corr_Avatar.dropna(inplace=True)
corr_Avatar = corr_Avatar.join(df_ratings['number_of_ratings'])
corr_Avatar.head()

#### 8. 상관관계 높은 순으로 정렬하기

In [ ]:
corr_Avatar[df_ratings['number_of_ratings'] > 100].sort_values(by='correlation', ascending=False).head(10)

### [실습문제] 다른 영화에 대해서도 상관관계 높은 영화 추천하기
- 영화 제목: Thor (2011)

#### 1. 토르(Thor (2011)) 영화에 관심을 보인 모든 사용자 찾기

#### 2. 토르(Thor (2011)) 영화와 관련한(유사한) 영화 추천하기

#### 3. 상관관계 높은 영화 순으로 정렬하기

---------------------------